<ion-header>
	<ion-toolbar>
		<ion-button slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-button>
		<ion-title>Movie titles</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card *ngFor="let movie of movieList" class="welcome-card">
		<ion-img [src]="movie.Poster" style="height:140px; width: 90px;"></ion-img>
		<ion-card-header>
			<ion-card-title>{{movie.Title}}</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<p><b>Year:</b> {{movie.Year}}</p>
			<p><b>Type:</b> {{movie.Type}}</p>
			<p><b>Id:</b> {{movie.imdbID}}</p>
		</ion-card-content>
	</ion-card>
</ion-content>
